[submodule "index-tts"]
path = tts/index-tts/app
url = https://github.com/index-tts/index-tts.git

[submodule "cosy-voice"]
path = tts/cosy-voice/app
url = https://github.com/FunAudioLLM/CosyVoice.git

[submodule "deepseek-ocr-rs"]
path = ocr/deepseek-ocr-rs/app
url = https://github.com/TimmyOVO/deepseek-ocr.rs.git